    /* default setup that everything sees */
    .shadow {
    /* needed for Internet explorer */
    height: 1em;
    filter: Shadow(Color=#666666, 
                 Direction=135, 
                 Strength=5);

    /* Needed for Gecko */
    line-height: 2em;
    white-space: nowrap;
    }

    /* 
    * used by browsers which know about
    * :before to create the shadow 
    */
    .shadow:before {
    display: block;
    margin: 0 0 -2.12em 0.15em;
    padding: 0;
    color: #666666; 
    }

    #shadow_1:before { 
    content: 'Location'; 
    }
    #second_2:before { 
    content: 'Happy Shadowing!'; 
    }

    /*\*/
    html*.shadow {

    [color:red;/* required by Safari 
              * so that [] is correctly
              * begun. associated with
              * the property, yet hiding
              * it. Seen by IE6 */

    /* 
     * seen by IE6 and Safari, but hidden
     * from Gecko 
     */
    text-shadow: #666666 5px 5px 5px; 

    ]color:auto; /* resets color for IE6 */
    }/**/

    /* 
    * end hack using dummy attribute selector
    * for IE5 mac
    */
    .dummyend[id]{clear: both;}

    /*\*/
    html*.shadow:before {

    [color:red;/* required by Safari. 
                seen by IE6 */

    /* 
     * seen by IE6 and Safari, but hidden
     * from Gecko 
     */
    display: none;

    ]color:auto; /* resets color for IE6 */
    }/**/

    /* 
    * end hack using dummy attribute selector
    * for IE5 mac
    */
    .dummyend[id]{clear: both;}
    body {
        background-color: #DCF7FF;
        font-family:arial,helvetica,sans-serif;
        font-size:8pt;
        color:#333333;
    }
	li {margin-top:6pt;margin-bottom:6pt;}
    ul.collage-links {
        list-style-type:none;
        padding:0px;
        margin:0px;
		z-index:1;
    }
    ul.collage-links li{
        background-image:url(images/drop.jpg);
        background-repeat:no-repeat;
        background-position:0px 0px;
        padding-left:38px;
        font-family:arial,helvetica,sans-serif;
        color:blue;
        font-size:14pt;
        margin:10px;
    }
    ul.collage-links a {
        text-decoration:none;
    }
    p.footer {color: #36B0FF; font-size: 8pt; font-weight: bold; text-align: center}
    a.no-underline{text-decoration:none;}
    div.left{text-align: left}
    div.posrel{position:relative;}
    div.collage-blurb{position:absolute;top:370px;right:10px;width:300px;font-size:9pt;z-index:1}
    div.collage-header{position:absolute;top:25px;right:5px;width:165px;z-index:1}
    div.image-title {position:absolute;top:5px;left:5px;font-weight:bold;font-size:14pt;color:#333333}
    div.center {text-align: center}
    iframe {frameborder: 0}
    a.webmaster {font-size:8pt}
    p {font-size:10pt;}
    td {font-size:10pt;}
	h1 {
		background-image:url(images/smallwaveblue.gif);
		background-repeat:no-repeat;
		height:37px;
		padding-left:50px;
		padding-top:17px;
		font-size:16pt;
	}
	h2 {
		background-image:url(images/smallwaveblue.gif);
		background-repeat:no-repeat;
		height:37px;
		padding-left:50px;
		padding-top:17px;
		font-size:16pt;
	}
    h3 {color:blue;text-align:center;}
	h4 {font-size:12pt;}
	h5 {font-size:10pt;}
	table.schedule {border-width:1px;border-style:outset;}
	table.schedule  td {text-align:center;border-width:1px;border-style:inset;}
	table.schedule td.header {vertical-align:top;text-align:center;}
	table.schedule td.rowheader {text-align:left;font-weight:bold;}
	table.schedule td.rowlead {text-align:left;}
	table.meet td {text-align:center;}
	table.meet th {font-size:12px;}
	